@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>Contact us</h1>
    <p>
        Need a quote?
        <br />
        Have a question?
        <br />
        Please contact us!
    </p>
</div>
<div class="row">
    <h2>Contact us for a free estimate</h2>
    <p><span>E-mail: info@bsco.ca</span></p>
    <p><span>Phone: 778-926-4718<br></span></p>
</div>
