@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated slideInUp">
    <div class="col">
        <h1>Contact us</h1>
        <p>
            Need a quote?
        </p>
        <p>
            Have a question?
        </p>
        <p>
            Please contact us!
        </p>
    </div>
</div>
<div class="row animated slideInUp">
    <div class="col">
        <h1>Contact us for a free estimate</h1>
        <p><span>E-mail: info@bsco.ca</span></p>
        <p><span>Phone: 778-926-4718<br></span></p>
    </div>
</div>
<div class="row justify-content-center mt-5 animated slideInUp">
    <div class="col-12 col-md-10 col-lg-8 border border-info rounded px-3 py-2">
        <span class="text-warning" style="font-size: 22px;">Send message</span>
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your first name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your last name">
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your email" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Your phone">
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Subject" required>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <textarea class="form-control" placeholder="Message" required></textarea>
                </div>
            </div>
        </form>
        <div class="text-center my-2">
            <button class="btn btn-outline-warning" id="clear-btn">Clear</button>
            <button class="btn btn-outline-info" id="send-btn">Send</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#link-contact-us').addClass('active');

            $('#send-btn').click(function () {
                if (false) {

                }
                else {
                    Swal.fire(
                        'Success!',
                        'Your message was sent',
                        'success'
                    ).then((result) => {
                        if (result.value) {
                            $('form input,textarea').val(null);
                        }
                    });
                }
            });
            $('#clear-btn').click(function () {
                $('form input,textarea').val(null);
            });
        });
    </script>
}
