@model BlackSeaConstruction.Web.Models.WorksVM
@using static BlackSeaConstruction.Web.Extensions.ImageExtensions
@{
    var id = Model.Project?.Id;
    var isActive = true;
}

<div class="row">
    <div class="col-12 col-md-7 col-lg-8 order-1 order-md-0">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-lg-left">Our works</h1>
                <p class="text-center text-lg-left">Some of our projects across Lower Mainland</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="tab-content" id="nav-tabContent">
                    @(await Html.PartialAsync("_Work", Model.Project))
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 order-0 order-lg-1 mb-3 mb-md-0">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var project in Model.Projects)
            {
                <a class="list-group-item text-white bg-dark list-group-item-action@(((id.HasValue && project.Id == id.Value) || (!id.HasValue && isActive)) ? " active": "") project-list-item" id="list-@project.Id-list" data-toggle="list" href="#list-@project.Id" role="tab" data-id="@project.Id">@project.ProjectName</a>
                isActive = false;
            }
        </div>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="gallery-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-dark" style="max-height: 700px;">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Gallery</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carouselModalControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner"></div>
                        <a class="carousel-control-prev" href="#carouselModalControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselModalControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
            function galleryClick() {
                $('.gallery-image').off('click').click(function () {
                    var children = $(this).parents('.gallery').children();
                    var html = "";
                    for (var i = 0; i < children.length; i++) {
                        html += '<div class="carousel-item' + (i == 0 ? " active" : "") + '"><img class="d-block w-50 mx-auto" src="' + $($(children[i]).children()).attr('src') + '"></div>';
                    }
                    $('#carouselModalControls .carousel-inner').html(html);
                    $('#gallery-modal').modal('show');
                });
            }
        $(document).ready(function () {
            galleryClick();
            $('#link-our-works').addClass('active');
            $('.project-list-item').off('click').click(function () {
                if (!$('.tab-pane#list-' + $(this).data('id')).length) {
                    $('.tab-pane').removeClass('show active');
                    $.ajax({
                        url: '@Url.Action("_Work", "Home")',
                        method: 'GET',
                        data: { id: $(this).data('id') },
                        success: function (html) {
                            $('#nav-tabContent').append(html);
                        }
                    });
                }
            });
        });
    </script>
}
