@model BlackSeaConstruction.Web.Models.WorksVM
@using static BlackSeaConstruction.Web.Extensions.ImageExtensions
@{
    var id = Model.Project?.Id;
    var isActive = true;
}

<div class="row">
    <div class="col-12 col-md-7 col-lg-8 order-1 order-md-0">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-lg-left">Our works</h1>
                <p class="text-center text-lg-left">Some of our projects across Lower Mainland</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="tab-content" id="nav-tabContent">
                    @(await Html.PartialAsync("_Work", Model.Project))
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 order-0 order-lg-1 mb-3 mb-md-0">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var project in Model.Projects)
            {
                <a class="list-group-item text-white bg-dark list-group-item-action@(((id.HasValue && project.Id == id.Value) || (!id.HasValue && isActive)) ? " active": "") project-list-item" id="list-@project.Id-list" data-toggle="list" href="#list-@project.Id" role="tab" data-id="@project.Id">@project.ProjectName</a>
                isActive = false;
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function galleryClick() {
            $('.gallery-image').off('click').click(function () {
                var children = $(this).parents('.gallery').children();
                var html = "";
                for (var i = 0; i < children.length; i++) {
                    html += '<div class="carousel-item h-100' + (i == $(children).index($(this).parent()) ? " active" : "") + '"><img class="d-block m-auto h-100" src="' + $($(children[i]).children()).attr('src') + '"></div>';
                }
                $('#carouselModalControls .carousel-inner').html(html);
                $('#gallery').css('display', 'block').removeClass('fadeOut').addClass('fadeIn');
            });
        }
        $(document).ready(function () {
            galleryClick();
            $('#link-our-works').addClass('active');
            $('.project-list-item').off('click').click(function () {
                if (!$('.tab-pane#list-' + $(this).data('id')).length) {
                    $('.tab-pane').removeClass('show active');
                    $.ajax({
                        url: '@Url.Action("_Work", "Home")',
                        method: 'GET',
                        data: { id: $(this).data('id') },
                        success: function (html) {
                            $('#nav-tabContent').append(html);
                            galleryClick();
                        }
                    });
                }
            });
        });
    </script>
}
